
.event {
    margin-top: 20px;
}

.event .date {
    color: rgb(255, 255, 0);
}

.event .time {
    margin-top: 10px;
}

.event .location {
    margin-top: 10px;
}

.past-events-title {
    color: rgb(255, 0, 0);
}
